#caja_izquierda{
    text-align: left;
    background-color: grey;
    color: blue;
    width: 200px;
    height: 200px;
    margin-top: 40px;
    margin-bottom: 80px;
    
}

#caja_derecha{
    text-align: left;
    background-color: gray;
    color: blue;
    width: 200px;
    height: 200px;
    margin-top: 40px;
    margin-bottom: 80px;
    margin-left: 1390px;
    

}

#caja_arriba{
    color: rgb(3, 35, 105);
    background-color:grey  ;
    text-align: center;

    
   
}

#caja_carrusel{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
    margin-left: 500px;
    
}
#boton_carrusel{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
    margin-left: 500px;
    margin-right: 500px;
}
#caja_abajo{
    text-align: center;
    color: gold;
}
#caja_nosotros{
    background-color: rgb(153, 161, 199);
    color:rgb(73, 74, 75);
    text-align: center;
    height: 500px;
    
    
    
}
#caja_store{
    background-color: rgb(102, 112, 163);
    color:rgb(54, 55, 56);
    text-align: center;
    padding: 200px 20px;
    


}
#caja_unete{
    background-color: rgb(64, 78, 150) ;
    color: rgb(38, 38, 39) ;
    text-align: center;
    padding: 200px 20px;

}
#caja_interior{
    padding-top: 80px;
}
#caja_interior_dos{
    margin-top: -150px;
}
#caja_interior_tres{
    margin-top: -150px;
}
#pagina_unete{
    background-color: rgb(64, 78, 150);
    color: rgb(38, 38, 39);
    text-align: center;
    width: 100%;
    height: 100%;
    padding-left: 30%;
    
}
#box_pregunta{
    width: 300px;
    height: 100px;
    text-align: center;
    margin-left: 38%;
    
}
#pagina_nosotros{
    background-color: rgb(153, 161, 199);
    color: rgb(73, 74, 75);
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}
#pagina_store{
    background-color: whitesmoke;
    color: rgb(54, 55, 56);
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}
#imagen_unete{
    margin-left: 20px;
    margin-top: 10%;
    float: left;

    
}
#carrusel{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0px;

}

#store_columna_uno{
    padding-left: 0%;
    margin-left: 5%;
    float: left;

}
#store_columna_dos{
    padding-left: 0%;
    margin-left: 0%;
    margin-right: 30%;
    
}
#store_columna_tres{
    padding-left: 0%;
    margin-left: 0%;
    margin-right: 10%;
    float: right;
    margin-top: -102%;

    
}